Repository zero-to-mastery/drum-root: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

Add Lincon Kusunoki as contributor
  CONTRIBUTORS.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Add my name to CONTRINUTORS.md | Mattia
  CONTRIBUTORS.md
Due: prettier --write

Revise components tests
  src/Components/DrumPad/index.test.js
  src/Components/Error/index.test.js
  src/Components/ErrorBoundary/index.test.js
  src/Components/FormWrapper/index.test.js
  src/test/Components/Drumpad.test.js
  src/test/Components/FormWrapper.test.js
  src/test/Components/__snapshots__/Drumpad.test.js.snap
  src/test/Components/__snapshots__/Error.test.js.snap
  src/test/Components/__snapshots__/ErrorBoundary.test.js.snap
  src/test/Components/__snapshots__/FormWrapper.test.js.snap
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

updating drumpad story
  stories/DrumPad.stories.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added my name in Contributors.md
  CONTRIBUTORS.md
Due: prettier --write

custom button
  src/Components/Custom-Button/custom-button.component.jsx
Due: none

Components/Drumpad organized
  .storybook/config.js
  src/Components/DrumPad/DrumPad.stories.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

DrumPad organized in components
  .eslintignore
  .huskyrc.json
  .huskyrc.json 
  .idea/workspace.xml
  .lintstagedrc
  .prettierignore
  src/Components/DrumPad/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added myself to the CONTRIBUTORS.md file.
  CONTRIBUTORS.md
Due: prettier --write

Implemented loader spinner component
  src/Components/Loader/Loader.component.jsx
Due: none

corrections
  src/Components/Loader/Loader.component.jsx
Due: none

renamed components
  src/Components/Custom-Button/custom-button.component.jsx
  src/Components/Custom-Button/index.js
  src/Components/Loader/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added pre commit lint and prettier
  .eslintrc.json
  .huskyrc.json 
  .lintstagedrc 
  package-lock.json
  package.json
Due: prettier --write

Added pre commit lint and prettier
  .eslintrc.json
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

new contributor
  CONTRIBUTORS.md
Due: prettier --write

Added my self to the contributors list
  CONTRIBUTORS.md
Due: prettier --write

Change spelling from 'waiting' to 'wasting'
  CONTRIBUTING.md
Due: prettier --write

#
  .gitignore
  .idea/.gitignore
  .idea/drum-root.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  .storybook/config.js
  src/Components/DrumPad/DrumPad.stories.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

fixed merge conflict
  .eslintrc.json
  .lintstagedrc
  CONTRIBUTING.md
  CONTRIBUTORS.md
  README.md
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/Components/Custom-Button/index.js
  src/Components/DrumPad/index.test.js
  src/Components/Error/index.test.js
  src/Components/ErrorBoundary/index.test.js
  src/Components/FormWrapper/index.test.js
  src/Components/Loader/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Made adjustments to drum pad's story
  .storybook/addons.js
  src/Components/DrumPad/DrumPad.stories.js
  src/Components/DrumPad/story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added documentation for storybook
  README.md
Due: prettier --write

created tile component
  package-lock.json
  package.json
  src/Components/DrumLoopTile/index.js
  src/pages/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

added styling to button component
  package.json
  src/Components/Custom-Button/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Setup puppeteer and added go to sign in page test
  package-lock.json
  package.json
  src/tests/signin.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added snare sound icon
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.js
  src/resources/icons/snare-drum.svg
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Removed experimental code
  src/pages/_app.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

removed files that appear to be unneccessary
  jest.config.js
  jest.config.json
  jest.setup.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Create Input Component
  package.json
  src/Components/Input/index.js
  src/Components/Input/index.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix test script
  package.json
Due: prettier --write

Use mount instead of shallow in Input test
  jest.config.json
  src/Components/Input/index.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md})
  jest --bail --findRelatedTests: any of: *.js
