Repository zero-to-mastery/drum-root: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

.lintstagedrc:

{ 
  "*.js": [ 
    "eslint --fix", 
    "prettier --write", 
    "git add", 
    "jest --bail --findRelatedTests" 
  ], 
  "*.{json,md}": ["prettier --write", "git add"]
}

Add Lincon Kusunoki as Design Lead
  README.md
  project.json
Due: prettier --write

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

designed drum-root.svg logo
  src/assets/drum-root.svg
Due: none

Delete drum-root.svg
  src/assets/drum-root.svg
Due: none

Add rvvergara as QA/Test Lead
  README.md
  project.json
Due: prettier --write

after review
  src/Components/DrumPad/index.js
  src/pages/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update project.json
  project.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

made suggested changes
  src/Components/Custom-Button/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Edit: Add my name to the list of contributors
  CONTRIBUTORS.md
Due: prettier --write

changed px to rem
  src/Components/DrumLoopTile/index.js
  src/pages/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

replaced [src/assets] to [src/resources/icons] svg rename to drum-root-alternative.svg
  src/resources/icons/drum-root-alternative.svg
Due: none

back
  package.json
  src/Components/Custom-Button/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Made suggested changes
  src/Components/Custom-Button/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added 18:12:39 UB40@UB40-PC:/e/UDEMY COURSES/Complete Web/Drum-root Project/drum-root
  src/resources/icons/drum-root-alternative.svg
Due: none

separate e2e from unit tests
  e2e/signin/signin.js
  jest-e2e.config.js
  jest-puppeteer.config.js
  package-lock.json
  package.json
  src/tests/signin.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

latest commit
  src/Components/DrumLoopTile/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

implemented file input for upload custom sound feature
  .gitignore
  src/Components/SoundUploader/index.js
  src/pages/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Adding story to the button component
  src/Components/Custom-Button/index.js
  src/Components/Custom-Button/story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added test instruction to README and changed e2e test to dev host
  README.md
  e2e/signin/signin.js
  jest-puppeteer.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added snare drum svg icon
  next.config.js
  package-lock.json
  package.json
  src/resources/icons/snare-drum.svg
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

changes requested by gavin
  .gitignore
  .storybook/addons.js
  .storybook/config.js
  src/Components/SoundUploader/index.js
  src/stories/0-Welcome.stories.js
  src/stories/1-Button.stories.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

changes made
  src/Components/Custom-Button/index.js
  src/Components/Custom-Button/story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

changes
  src/Components/Custom-Button/story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Great suggestion received. Updating
  src/Components/Custom-Button/story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Adding my name to CONTIBUTERS.MD
  CONTRIBUTORS.md
Due: prettier --write

Added SoundWave Component
  public/testSound.mp3
  src/Components/SoundWave/index.js
  src/pages/_document.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added vishnup95 to contributors list
  CONTRIBUTORS.md
Due: prettier --write

Spacing corrected
  CONTRIBUTORS.md
Due: prettier --write

added my name to leads
  README.md
Due: prettier --write

added my name to leads
  project.json
Due: prettier --write

Add stickler.yml file
  .stickler.yml
Due: none
