Repository zero-to-mastery/drum-root: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

.lintstagedrc:

{ 
  "*.js": [ 
    "eslint --fix", 
    "prettier --write", 
    "git add", 
    "jest --bail --findRelatedTests" 
  ], 
  "*.{json,md}": ["prettier --write", "git add"]
}

Fixed the yarn.lock deleted issue
  yarn.lock
Due: none

newline ending issue
  yarn.lock
Due: none

add bass drum and hi hat svgs
  src/resources/icons/bass-drum.svg
  src/resources/icons/hi-hat.svg
Due: none

delete bass drum and hi hat pngs
  public/img/bassDrum.png
  public/img/hiHat.png
Due: none

Updated logo url
  project.json
Due: prettier --write

added name to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

added myself to contributors.md
  CONTRIBUTORS.md
Due: prettier --write

added travis.yml, npm scripts and fixed linting problems
  .eslintignore
  .travis.yml
  package-lock.json
  package.json
  src/Components/DrumLoopTile/index.js
  src/Components/DrumPad/index.js
  src/Components/Error/index.js
  src/Components/ErrorBoundary/index.js
  src/Components/FormWrapper/index.js
  src/Components/TimeSignature/timeSignature.js
  src/pages/index.js
  src/pages/signin.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fixed linting issues
  package.json
  src/Components/ErrorBoundary/index.js
  src/Components/FormWrapper/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added chrome addon
  .travis.yml
Due: none

Tried to fixed fail to launch chrome issue
  .travis.yml
Due: none

remove e2e test for travis ci
  .travis.yml
  package.json
Due: prettier --write

Added myself to contributors.md
  CONTRIBUTORS.md
Due: prettier --write

Configure travis yml file
  .travis.yml
  package.json
Due: prettier --write

Added build and stages into travis
  .travis.yml
Due: none

Added my name to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

restricted number of beats allowed based on the current time signature
  src/pages/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add name to contributors list
  CONTRIBUTORS.md
Due: prettier --write

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

12 Drum Sound Icon svgs including tomtoms, cymbals, etc.
  src/resources/icons/bongos.svg
  src/resources/icons/cowbell.svg
  src/resources/icons/crashSplashRideChinaCymbal.svg
  src/resources/icons/floorTom.svg
  src/resources/icons/gong.svg
  src/resources/icons/guiro.svg
  src/resources/icons/rackToms.svg
  src/resources/icons/shakers.svg
  src/resources/icons/tambourine.svg
  src/resources/icons/triangle.svg
  src/resources/icons/wood-block.svg
  src/resources/icons/xylophone.svg
Due: none

Created sounds factory function and collated sound configuration
  src/utils/sounds.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added React Testing library, removed Enzymeand make unit test more robust and resilient
  .env
  jest.config.json
  jsconfig.json
  package-lock.json
  package.json
  src/Components/DrumLoopTile/index.test.js
  src/Components/DrumPad/index.test.js
  src/Components/Error/index.test.js
  src/Components/ErrorBoundary/index.test.js
  src/Components/FormWrapper/index.test.js
  src/Components/Input/index.test.js
  src/mockData/mockLayout.js
  src/setupTests.js
  src/utils/test-utils.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

updated README file
  README.md
Due: prettier --write

added my name to the CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

Updated new collab welcome message
  project.json
Due: prettier --write

removed console.log and fixed yarn conflicted issue
  src/Components/FormWrapper/index.js
  src/mockData/mockLayout.js
  yarn.lock
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added my discord username
  CONTRIBUTORS.md
Due: prettier --write

added my name to contributors list
  CONTRIBUTORS.md
Due: prettier --write

adding my name to contributors.md
  CONTRIBUTORS.md
Due: prettier --write

Added to Contributors.md
  CONTRIBUTORS.md
Due: prettier --write

updated my master
  CONTRIBUTORS.md
Due: prettier --write

proposition key name
  src/constants/constants.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added my name to contributors list
  CONTRIBUTORS.md
Due: prettier --write

add constants file
  src/constants/constants.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

all colors constants
  src/constants/constants.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests
