Repository zero-to-mastery/drum-root: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

.lintstagedrc:

{ 
  "*.js": [ 
    "eslint --fix", 
    "prettier --write", 
    "git add", 
    "jest --bail --findRelatedTests" 
  ], 
  "*.{json,md}": ["prettier --write", "git add"]
}

tested the component with enzyme
  package-lock.json
  package.json
  src/Components/DrumLoopTile/index.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Made changes based on suggestions
  src/Components/SoundWave/index.js
  src/resources/audio/testSound.mp3
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added storybook for SoundWave and added default value for SoundWave
  .storybook/preview-head.html
  src/Components/SoundWave/SoundWave.story.js
  src/Components/SoundWave/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added support for import audio file from resources(relative url)
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

simplify the code
  src/Components/SoundWave/SoundWave.story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

submit again
  src/Components/SoundWave/SoundWave.story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added new sound to metronome for down beat, added style to drum pad to show measures, added time signature input, only beats per measure is functional
  src/Components/DrumPad/index.js
  src/Components/TimeSignature/timeSignature.js
  src/pages/index.js
  src/utils/sounds.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Added PlayPauseButton Component and storybook for it
  package-lock.json
  package.json
  src/Components/PlayPauseButton/PlayPauseButton.story.js
  src/Components/PlayPauseButton/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

modfied based on suggestion
  src/Components/PlayPauseButton/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

changed time-signature input to buttons for 2/4. 3/4, 4/4 and 6/8. converted pixels to rem.
  src/Components/TimeSignature/timeSignature.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update README.md
  README.md
Due: prettier --write

Update project.json
  project.json
Due: prettier --write

implemented changes regarding replacing alert() with an error message on the page + removed Welcome story due to irrelevancy
  src/Components/SoundUploader/index.js
  src/stories/0-Welcome.stories.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added myself to README + project.json
  README.md
  project.json
Due: prettier --write

changed px to rem
  src/Components/DrumPad/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update index.js
  src/Components/DrumPad/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

created SoundUploader story, removed redundant default Button story & updated storybook config to contain configure() call that was causing loading problem
  .storybook/config.js
  src/Components/SoundUploader/index.js
  src/Components/SoundUploader/story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

created SoundUploader story, removed redundant default Button story & updated storybook config to contain configure() call that was causing loading problem
  src/stories/1-Button.stories.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

restore addon-knobs to .storybook/addons.js
  .storybook/addons.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

comments removed
  src/Components/DrumLoopTile/index.test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: prettier --write

Added storybook for Loader
  src/Components/Loader/Loader.story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added my name
  CONTRIBUTORS.md
Due: prettier --write

Added storybook for Input Component
  src/Components/Input/Input.story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add tokenType to authrization header
  .env
  src/utils/common-functions.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added TODO as requested by gavin
  src/Components/SoundUploader/index.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

fixed a couple of punctuation errors in readme storybook section
  README.md
Due: prettier --write

fixed a typo
  README.md
Due: prettier --write

add name to contributors.md
  CONTRIBUTORS.md
Due: prettier --write

Added storybook for drum loop tile
  src/Components/DrumLoopTile/DrumLoopTile.story.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

add img subdir to public, add hiHat & bassDrum
  public/img/bassDrum.png
  public/img/hiHat.png
Due: none

Create logos
  src/resources/logos
Due: none

Delete logos
  src/resources/logos
Due: none

added logos
  src/resources/logos/large.svg
  src/resources/logos/largest.svg
  src/resources/logos/logo_image.jpg
  src/resources/logos/medium.svg
  src/resources/logos/small.svg
Due: none

Added QA Lead
  README.md
  project.json
  src/utils/test.js
  yarn.lock
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

added QA Lead
  src/utils/test.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests
